<% unless user_signed_in? %>

<div class="hero-unit">
<h1>Willkommen bei Farm Food</h1>
<p>
	Du möchtest selbst dein Gemüse und Obst von Bauern der Region auswählen und bestellen?
</p>

        <p>
            <%= link_to "Registrier dich jetzt!", new_user_registration_path, class: "btn btn-primary btn-large" %>
        </p>
</div>

<% end %>