<div class="hero-unit">
<h1>Welcome to Farm Food</h1>
<p>
	You found me at
	<%= link_to "Google", " http://google.com" %>
	, right!
</p>

<p>
	<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
</p>
</div>