/*in th case u wann use a different font*/
/*$baseFontFamily: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);*/

$btnPrimaryBackground: green;
$navbarBackgroundHighlight: white;
$navbarBackground: white;

@import 'bootstrap';

body {
	padding-top: 60px;
}
@import 'bootstrap-responsive';

/*shadow navbar off*/
.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}
.footer {

	margin-top: 50px;
	color: $green;
	a {
		color: $gray;
	}
}