<div class="navbar navbar-fixed-bottom">
	<div class="navbar-inner">
    	<div class="container">
			<div class="footer">
				<small>
					<p> Farm Food GmbH </p>
				</small>
			</div>
		</div>
	</div>
</div>